<!DOCTYPE html>
<html>
<head>
    <title>View All Users</title>
</head>
<body>
    <h2>View All Users</h2>
    <table border="1" width="700">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Username</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for r in reg %}
        <tr>
            <td>{{ r.name }}</td>
            <td>{{ r.phone }}</td>
            <td>{{ r.username }}</td>
            <td><a href="{% url 'updatereg' r.id %}">Update</a></td>
            <td><a href="{% url 'deletereg' r.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

